@import url("https://fonts.googleapis.com/css?family=Lobster");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lobster", cursive !important;
}
img {
  max-width: 100%;
  background-color: white;
}
.container-fluid {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
.project {
  box-shadow: rgb(224, 224, 224) 0px 4px 0.9em;
  border-radius: 16px;
  overflow: hidden;
  margin-top: 50px;
}
.project:hover {
  box-shadow: rgb(182, 178, 178) 0px 4px 1.8em;
}
.project__img {
  height: 200px;
}
.project__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.project__content {
  padding: 10px 20px;
}
.project__detail-content {
  list-style-position: inside;
}
.project__preview {
  text-align: center;
  margin-top: 20px;
}
